[Unit]
Description=Apply declarative profile before graphical session
Wants=network-online.target
After=network-online.target
Before=graphical.target
RefuseManualStart=yes
RefuseManualStop=yes

[Service]
Type=oneshot

# Apply profile (may take hours)
ExecStart=/opt/reprofed/bin/reprofed-apply.sh

RemainAfterExit=yes

# Protect long-running package installs
KillMode=process
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
